<% book_comments.each do |book_comment| %>
	<tr>
		<td>
			<%= attachment_image_tag(current_user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
			<%= current_user.name %>
		</td>
		<td><%= book_comment.comment %> </td>
		<% if book_comment.user == current_user %>
			<td><%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true, class: "btn btn-danger" %></td>
		<% end %>
	</tr>
<% end %>




