// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-all {
  padding-left: 0;
  margin-left: 0;
}

.comment {
  list-style: none;
}

.comment-avatar {
  display: inline;
}

.comment-text {
  display: inline;
  padding-left: 20px;
}